body{
	background: url("../img/kohtao3.jpg") no-repeat center center fixed;
	background-size: cover;
}
h1{
	color: orange;
}
h2{
	color: orange;
}
.introduction{
	background-color: rgba(13,13,13,0.5);
	border: none;
	border-radius: 10px;
	color: rgb(245,245,245);

}
.facebook{
		
}
.instagram{
	
}
.linkedin{
	}

.mexico{
	width: 100%;
	height: 50%;
}
.sevens{
	width: 100%;
	height: 50%;
}
.marathon{
	width: 100%;
	height: 50%;
}
.vote{
	background-color: rgba(13,13,13,0.5);
	border: none;
	border-radius: 10px;
	color: rgb(245,245,245);
}
.textarea{
	font-color: black;
}
.submit{
	color: white;
	background-color: orange;
	border: none;
	border-radius: 10px;
}
	
	




	/*#7FB2F0 */